@font-face {
    font-family: InstrumentSeriff;
    src: url("assets/fonts/InstrumentSerif.ttf");
}

body{
    background-color: black;
    margin: 0%;
    user-select: none;
}

.fixed {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -5%);

    color: #cfbb64;
    font-family: InstrumentSeriff;
    font-size: 18vw;
    white-space: nowrap;

    z-index: 1;
}

.fixed::before {
    content: attr(shadow);
    position: absolute;
    inset: 0;

    color: black;
    transform: translateY(0.5vw);

    z-index: -1;
}

.profile_bg td{
    width: 100vw;
    padding: 0%;
}

.profile_bg table{
    border-collapse: collapse;
}

.profile_bg img{
    width: 100%;
    display: block;
}